name: Close Preview

on:
  pull_request_target:
    types: [closed]

permissions:
  contents: read

jobs:
  close-preview:
    runs-on: ubuntu-latest
    steps:
      - name: プレビュー環境のクローズ
        uses: Azure/static-web-apps-deploy@v1
        with:
          azure_static_web_apps_api_token: ${{ secrets.AZURE_SWA_API_TOKEN }}
          action: close
